<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Richard Meuret">

    <meta name="mobile-web-app-capable" content="yes">


    <title>Ririgram</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        {{>header}}
    </header>


    <main>

        <div id="welcome" class="d-none"></div>

        <div id="nav-div">
            {{#if userLogged}}
                <nav class="user-logged">Manque la gestion de la variable userLogged</nav>
            {{else}}
                {{>navNotLogged}}
            {{/if}}
        </div>        

        {{!-- for gameboard or grid list --}}
        <div id="main-content"></div>

        {{!-- Game buttons --}}
        <div id="game-cross" class="d-none not-in-use">
            <svg id="game-cross-top" class="game-cross-btn" height="74px" width="50px">
                <polygon points="0,0 50,0 50,49 25,74 0,49" style=" stroke: grey; stroke-width: 1"/>
                <polyline points="15 35, 25 20, 35 35" stroke-width="3px" stroke="white"/>
            </svg>
            <svg id="game-cross-right" class="game-cross-btn" height="50px" width="74px">
                <polygon points="74,0 74,50 25,50 0,25 25,0" style=" stroke: grey; stroke-width: 1"/>
                <polyline points="39 15, 54 25, 39 35" stroke-width="3px" stroke="white"/>
            </svg>
            <svg id="game-cross-bottom" class="game-cross-btn" height="74px" width="50px">
                <polygon points="0,74 0,25 25,0 50,25 50,74" style=" stroke: grey; stroke-width: 1"/>
                <polyline points="15 39, 25 54, 35 39" stroke-width="3px" stroke="white"/>
            </svg>
            <svg id="game-cross-left" class="game-cross-btn" height="50px" width="74px">
                <polygon points="0 0, 49 0, 74 25, 49 50, 0 50" style=" stroke: grey; stroke-width: 1"/>
                <polyline points="35 15, 20 25, 35 35" stroke-width="3px" stroke="white"/>
            </svg>
            <div class="filter"></div>
        </div>
        <div id="game-answer-buttons" class="d-none">
            <div class="answer-btns-line">
                <div id="answer-maybe-no" class="answer-btn" data-response="maybe-no"></div>
                <div id="answer-maybe-yes" class="answer-btn" data-response="maybe-yes"></div>
            </div>
            <div class="answer-btns-line">
                <div id="answer-no" class="answer-btn" data-response="no"></div>
                <div id="answer-yes" class="answer-btn current-choice" data-response="yes"></div>
            </div>
        </div>

        {{!-- Victory message --}}
        <div id="victory" class="d-none">
            <svg id="victory-close" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
            <h2>Victoire !</h2>
            <p>Félicitations ! Tu as fini cette grille en <span id="clicks-nb-done"></span>.</p>
            <p id="special-congrats" class="d-none">Et c'est un sans faute !!!</p>
            <p id="too-many-clicks" class='d-none'>Elle est réalisable en <span id="clicks-nb-min"></span>.</p>
            <p id="you-should-register" class="d-none">Ce jeu te plait ? Tu devrais t'enregistrer pour profiter de toutes les fonctionnalités !</p>
            <button id="victory-play-another">Nouvelle partie</button>
            <button id="victory-choose-grid">Choisir une grille</button>
        </div>

    </main>

    <script src="/js/css-variables.js"></script>
    <script src="/js/gameboard-builder.js"></script>
    <script src="/js/fullscreen-toggle.js"></script>
    <script src="/js/toggle-navbar.js"></script>
    <script src="/js/navbars.js"></script>
    <script src="/js/nav-not-logged.js"></script>
    <script src="/js/nav-logged.js"></script>
    <script src="/js/game-manager.js"></script>
    <script src="/js/victory.js"></script>
    <script src="/js/is-storage-available.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>