<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Richard Meuret">

    <meta name="mobile-web-app-capable" content="yes">
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <title>Ririgram</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <main>
        <div id="no-js" class="d-none"></div>
    
        {{>header}}

        <div id="nav-div">
            {{#if userLogged}}
                <nav class="user-logged">Manque la gestion de la variable userLogged</nav>
            {{else}}
                {{>navNotLogged}}
            {{/if}}
        </div>

        <div id="grid-options" class="d-none">
            {{>grid_options}}
        </div>

        <div id="game-zone" class="d-none">
            {{!-- for gameboard or grid list --}}
            <div id="gameboard-div"></div>

            {{!-- Game buttons --}}
            {{!-- The Game Cross  --}}
            <div id="game-cross" class="not-in-use">
                
                <svg version="1.1" x="0px" y="0px" viewBox="0 0 150 150" width="100%">
                    <g id="game-cross-top" class="game-cross-btn">
                        <polygon points="50,0 100,0 100,49 75,74 50,49" style=" stroke: grey; stroke-width: 1"/>
                        <polyline points="65 35, 75 20, 85 35" stroke-width="3px" stroke="white" fill="none"/>
                    </g>
                    <g id="game-cross-right" class="game-cross-btn">
                        <polygon points="150,50 150,100 101,100 76,75 101,50" style=" stroke: grey; stroke-width: 1"/>
                        <polyline points="115 65, 130 75, 115 85" stroke-width="3px" stroke="white" fill="none"/>
                    </g>
                    <g id="game-cross-bottom" class="game-cross-btn">
                        <polygon points="50,150 50,101 75,76 100,101 100,150" style=" stroke: grey; stroke-width: 1"/>
                        <polyline points="65 115, 75 130, 85 115" stroke-width="3px" stroke="white" fill="none"/>
                    </g>
                    <g id="game-cross-left" class="game-cross-btn">
                        <polygon points="0 50, 49 50, 74 75, 49 100, 0 100" style=" stroke: grey; stroke-width: 1"/>
                        <polyline points="35 65, 20 75, 35 85" stroke-width="3px" stroke="white" fill="none"/>
                    </g>
                </svg>
            </div>

            {{!-- Solution Choice Buttons --}}
            <div id="game-answer-buttons">
                {{!-- grid historic buttons --}}
                <div class="answer-btns-line" id="grid-historic-btns">
                    <svg id="grid-historic-backward" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-left d-none" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                    </svg>
                    <svg id="grid-historic-forward" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-90deg-right d-none" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                    </svg>
                </div>
                {{!-- answer buttons --}}
                <div class="answer-btns-line">
                    <div id="answer-maybe-no" class="answer-btn" data-response="maybe-no"></div>
                    <div id="answer-maybe-yes" class="answer-btn" data-response="maybe-yes"></div>
                </div>
                <div class="answer-btns-line">
                    <div id="answer-no" class="answer-btn" data-response="no"></div>
                    <div id="answer-yes" class="answer-btn current-choice" data-response="yes"></div>
                </div>
            </div>


            {{!-- Grid light infos --}}
            <div id="grid-light-infos-div" class="d-none"></div>

            {{!-- the trashCan message --}}
            {{>grid_trash}}
        </div>



        {{!-- Victory message --}}
        <div id="victory" class="d-none">
            {{!-- both logged and unlogged users --}}
            <svg id="victory-close" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
            <h2>Victoire !</h2>
            {{!-- unlogged user --}}
            <p id="congrats">Félicitations ! Tu as fini cette grille en <span id="clicks-nb-done"></span>.</p>
            <p id="special-congrats" class="d-none">Et c'est un sans faute !!!</p>
            <p id="too-many-clicks" class='d-none'>Elle est réalisable en <span id="clicks-nb-min"></span>.</p>
            <p id="you-should-register" class="d-none">Ce jeu te plait ? Tu devrais t'enregistrer pour profiter de toutes les fonctionnalités !</p>
            {{!-- logged user --}}
            <div id="player-clicks-nb" class="d-none">Nombre de coups : </div>
            <div id="perfect-game" class="d-none">
                Sans faute : 
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </div>
            <div id="clicks-nb-mini" class="d-none">Réalisable en _ coups</div>
            <div id="chrono" class="d-none">Ton chrono :</div>
            <div id="personal-best-div" class="d-none">Ton meilleur :&nbsp;
                <span id="personal-best-span" class="d-none"></span>
                <svg id="personal-best-check" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
            </div>
            <div id="world-record" class="d-none">
                Record du monde :                
                <svg id="world-record-check" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                <div id="world-record-unbeaten">
                    <span id="wr-time"></span> détenu par <span id="wr-owner"></span>
                </div>
                <div id="player-position-div">Ton classement : <span id="player-position-span"></span></div>
            </div>
            <div id="times-nb" class="d-none">
                <div>Grille jouée <span id="nb-times-played"></span> fois</div>
                <div>Grille finie <span id="nb-times-finished"></span> fois</div>
            </div>
            {{!-- logged users --}}
            <button id="victory-get-grid-infos">Infos grille</button>
            {{!-- both logged and unlogged users --}}
            <button id="victory-play-another">Nouvelle partie</button>            
            {{!-- logged user --}}
            <button id="victory-choose-grid" class="not-implemented">Choisir une grille</button>
        </div>

        {{!-- Failed message --}}
        <div id="failed" class="d-none">
            <svg class="failed-close" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
            <h2>Echec !</h2>
            <p id="failed-message"></p>
            <button class="failed-close">Continuer</button>
        </div>

    </main>

    <script src="/js/css-variables.js"></script>
    <script src="/js/notifications.js"></script>
    <script src="/js/grid-historic.js"></script>
    <script src="/js/gameboard-builder.js"></script>
    <script src="/js/fullscreen-toggle.js"></script>
    <script src="/js/toggle-navbar.js"></script>
    <script src="/js/navbars.js"></script>
    <script src="/js/nav-not-logged.js"></script>
    <script src="/js/nav-logged.js"></script>
    <script src="/js/grid-options.js"></script>
    <script src="/js/grid-light-infos.js"></script>
    <script src="/js/auto-fill.js"></script>
    <script src="/js/game-manager.js"></script>
    <script src="/js/victory.js"></script>
    <script src="/js/failed.js"></script>
    <script src="/js/info.js"></script>
    <script src="/js/feedback.js"></script>
    <script src="/js/is-storage-available.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>