<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Richard Meuret">

    <meta name="mobile-web-app-capable" content="yes">


    <title>Ririgram</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header>
        {{>header}}
    </header>


    <main>

        <div id="welcome" class="d-none"></div>

        <div id="nav-div">
            {{#if userLogged}}
                <nav class="user-logged">Manque la gestion de la variable userLogged</nav>
            {{else}}
                {{>navNotLogged}}
            {{/if}}
        </div>        

        <div id="content"></div>

    </main>

    <script src="/js/fullscreen-toggle.js"></script>
    <script src="/js/toggle-navbar.js"></script>
    <script src="/js/navbars.js"></script>
    <script src="/js/nav-not-logged.js"></script>
    <script src="/js/nav-logged.js"></script>
    <script src="/js/is-storage-available.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>