<div id="grid-trash-div" class="d-none">

    <h2>Virer cette grille</h2>

    <p>Si vous confirmez, cette grille ne vous sera plus présentée.</p>
    
    <button id="grid-trash-confirmed">Confirmer</button>
    <button id="grid-trash-cancelled">Annuler</button>
</div>