<h2>Modification de mise à jour</h2>

<form id="change-info-form">
    <div class="form-group">
        <label for="change-info-version" class="form-label">Version</label>
        <input type="text" class="form-input" id="change-info-version" name="version" required>
    </div>
    <div class="form-group">
        <label for="change-info-title" class="form-label">Titre</label>
        <input type="text" class="form-input" id="change-info-title" name="title" required>
    </div>
    <div class="form-group">
        <label for="change-info-message" class="form-label">Message</label>
        <textarea name="message" id="change-info-message" required></textarea>
    </div>
    <button type="submit">Enregistrer</button>
    <button id="hide-change-info-btn">Annuler</button>
</form>