<div>
    <p>Enregistrez-vous pour profiter de toutes les fonctionnalités et pouvoir remonter les bugs !</p>
    <p>Ce site est en construction, votre compte sera peut-être effacé en cours de route.</p>
    <p>Si vous n'arrivez pas à vous connecter, peut-être faudra-t-il recréer votre compte ...</p>
    <p>Cependant, j'ai prévu de vous prévenir si cela arrive. Si vous voyez un <kbd>!</kbd> rouge : suivez le  ;-)</p>
    <p>Dans cette première version, l'affichage est seulement réfléchi pour mobile et n'est d'ailleurs pas encore tout à fait optimisé. La version tout écran viendra plus tard ...</p>
</div>