<p>Ririgrma est un jeu du type Picross (ou Nonogram) à la différence qu'ici, les grilles ne représentent pas un dessin mais sont générées aléatoirement</p>

<p>Le but est de cocher les bonnes cases de la grille en s'aidant des nombres indicateurs de ligne ou de colonne.</p>

<p>Chaque nombre correspond à un groupe de cases collées les unes aux autres, le nombre de cases du groupe doit correspondre au nombre indicateur correspondant.</p>

<p>Chaque groupe de cases d'une ligne ou d'une colonne peut être espacé d'une ou plusieurs cases vides du groupe adjacent ou du bord de la grille.</p>

<p>Soyez méthodique !</p>

<img src="/img/tuto-grille.gif" alt="tutoriel animé">