<div>
    <p>Enregistrez-vous pour profiter de toutes les fonctionnalités !</p>
    <p>Ce site est en construction.</p>
    <p>Vos adresse email sera certainement effacée en cours de route.</p>
    <p>Si vous n'arrivez pas à vous connecter, peut-être faudra-t-il recréer votre compte ...</p>
    <p>Cependant, j'ai prévu de vous prévenir si cela devait arriver. Si vous voyez un <kbd>!</kbd> rouge : suivez le  ;-)</p>
</div>