<div id="trash-can-div">
    <p>Si vous confirmez, cette grille ne vous sera plus représentée.</p>

    {{!-- confirmer: oui / non  --}}
    <button id="trash-confirmed">Confirmer</button>

    <button id="trash-cancelled">Annuler</button>
    
    {{!-- nouvelle grille  --}}
    {{!-- choisir grille  --}}
    {{!-- sortir --}}
</div>