<p>Cette section n'est pas encore remplie, je vous laisse découvrir comment fonctionnent les différents boutons du jeu.</p>
<p>Petite précision, la croix grise sous le graille de jeu ne fonctionne qu'avec les écrans tactiles.</p>