form {

    &#feedback-form {
        margin-top: 1.5rem;
    }

    div.form-group {
        width: 70vw;
        margin: 0 auto 1.5rem;

        &:nth-last-child(2) {
            margin-bottom: 2.5rem;
        }

        label.form-label {
            display: block;
            margin-bottom: 10px;

            &.required::after {
                content: '   *';
                display:inline;
                color: #e32;

            }
        }

        input.form-input,
        select.form-select,
        textarea {
            position: relative;
            width: 100%;
            height: 2.5rem;
            font-size: 1rem;
            padding: 0 20px;
            box-sizing: border-box;
            border: 1px solid $color-font;
            border-radius: 5px;
            background-color: $color-nav-header;
            color: $color-font;

            &:focus {
                border-color: $color-primary;
                outline: none;
            }
        }

        textarea {
            height: 7.5rem;
        }
    }

    button {
        width: 50%;
        height: 3rem;
        margin: 0 auto;
        display: block;
        background-color: $color-nav-header;
        color: $color-primary;
        font-size: 1.5rem;
        font-weight: 700;
        border: 1px solid $color-font;
        border-radius: 5px;
    
        &:hover {
            border-color: $color-primary;
        }
    
        &:active {
            background-color: $color-primary;
            color: $color-font;
            border-color: $color-font;
        }
    
        &:focus {            
            outline: none;
        }

        &.invalid {
            color: $color-nav-content;
        }
    }

    // for feedback and answer forms
    &#feedback-form {
        
        svg#form-close {
            font-size: x-large;
            margin-right: 15vw;
        }
    }

}



// for answer to feedback
#answer-feedback-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 100vw;
    height: 100vh;
    background-color: $color-background;

    form {
        position: relative;
        padding-top: 30vh;

        .close {
            position: absolute;
            top: 2rem;
            right: 3rem;

            svg {        
                font-size: x-large;
            }
        }
    }
}