/* variables */

:root {
    --color-head-bg: #0F101B;
    --color-head-bg-enlighted: #333333;
    --color-head-font: #dddddd;
    --color-answer-origin: #dddddd;
    --color-answer-yes: #FF8800;
    --color-answer-maybe-yes: #ffcc00;
    --color-answer-maybe-no: rgb(119, 121, 153);
    --color-answer-no: #333333;
    --nb-rows: 4;
    --nb-cols: 4;
    --max-row-helpers: 2;
    --max-col-helpers: 2;
    --gameboard-width: 90vw;
    --head-size: 15vw;
    --row-head-font-size: 32px;
    --col-head-font-size: 32px;
}

/* Scss functions */

// for cols and row heads colors
@function headColor ($color-name) {
    @return var(--color-head-#{$color-name});
}

// for grid tiles colors
@function answerColor ($color-name) {
    @return var(--color-answer-#{$color-name});
}


/* Let's go */
#gameboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: flex-end;
    width: var(--gameboard-width);
    height: var(--gameboard-width);

    &.hidden {
        display: none;
    }
    
    .head-div {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        
        
        .col-head-div {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            width: calc(var(--gameboard-width) / (var(--nb-cols) + ((4/5) *  var(--max-row-helpers))));
            height: 100%;
            background-color: headColor(bg);
            box-sizing: border-box;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            &.enlighted {
                background-color: headColor(bg-enlighted);
            }

            &:nth-child(5n+1) {
                border-right-width: 3px;                
            }
            
            &:nth-last-child(1) {
                border-right-width: 1px;
                border-right-color: headColor(font);
            }

            .helper {    
                height: calc((4/5) * (var(--gameboard-width) / (var(--nb-rows) + (4/5) * var(--max-col-helpers))));
                text-align: center;
                font-size: calc((3/5) * (var(--gameboard-width) / (var(--nb-cols) + (4/5) * var(--max-row-helpers))));
                color: headColor(font);

                // &.found {
                //     color: answerColor(yes);
                // }
            }
        }
    }

    .row-div {
        display:flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100%;
        height: calc(var(--gameboard-width) / (var(--nb-rows) + ((4/5) *  var(--max-col-helpers)) ));

        .row-head-div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            box-sizing: border-box;
            background-color: headColor(bg);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

            &.enlighted {
                background-color: headColor(bg-enlighted);
            }

            .helper {    
                width: calc((4/5) * (var(--gameboard-width) / (var(--nb-cols) + (4/5) * var(--max-row-helpers))));                
                text-align: center;
                font-size: calc((3/5) * (var(--gameboard-width) / (var(--nb-cols) + (4/5) * var(--max-row-helpers))));                
                color: headColor(font);

                // &.found {
                //     color: answerColor(yes);
                // }
            }
        }

        .tile {
            cursor: pointer;
            width:calc(var(--gameboard-width) / (var(--nb-cols) + ((4/5) *  var(--max-row-helpers))) );
            height: 100%;
            background-color: answerColor(origin);
            box-sizing: border-box;
            border: 1px solid #222222;
            &:nth-child(5n+1) {
                border-right-width: 3px;
            }
            &[data-solution="yes"] {
                background-color: answerColor(yes);
            }
            &[data-solution="maybe-yes"] {
                background-color: answerColor(maybe-yes);
            }
            &[data-solution="maybe-no"] {
                background-color: answerColor(maybe-no);
            }
            &[data-solution="no"] {
                background-color: answerColor(no);
            }
            &.selected {
                box-shadow: inset 0 0 6px 6px white;
            }
        }
    }
}


#game-zone {
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    &.d-none {
        display: none;
    }
}
#game-cross {
    display: inline-block;
    width: 150px;
    max-width: 50%;
    position: relative;
    transition: width 0.7s ease-in-out;

    &.d-none {
        display: none;
    }

    &.not-in-use {
        width: 100px;
    }

    &.not-in-use .game-cross-btn {
        fill: rgb(50, 50, 50);
    }

    .game-cross-btn {
        position: absolute;
        fill: $color-primary;
        transition: fill 0.7s ease-in-out;

        &:hover {
            fill: var(--color-answer-maybe-yes);
        }
    }
}

#game-answer-buttons {

    &.d-none {
        display: none;
    }

    .answer-btns-line {
        margin-top: 12px;

        .answer-btn {
            display:inline-block;
            cursor: pointer;
            width: 46px;
            height: 46px;
            margin-right: 12px;
            box-shadow: none;
    
            &.current-choice {
                box-shadow: inset 0 0  5px 5px white;
            }

            &::before {
                position: relative;
                font-size: 10px;
            }
        }
    
        #answer-maybe-no {
            background-color: answerColor(maybe-no);
            
            &::before {
                content: 'Maybe no';
                top: -17px;
                left: 3px;
            }
        }
    
        #answer-maybe-yes {
            background-color: answerColor(maybe-yes);
            
            &::before {
                content: 'Maybe yes';
                top: -17px;
                left: 3px;
            }
        }
    
        #answer-no{
            background-color: answerColor(no);
            
            &::before {
                content: 'No';
                top: -17px;
                left: 17px;
            }
        }
    
        #answer-yes{
            background-color: answerColor(yes);
            
            &::before {
                content: 'Yes';
                top: -17px;
                left: 17px;
            }
        }
    }
}

.erase-btns {

    &.d-none {
        display: none;
    }

    div.erase-btn {
        
        svg {
            font-size: x-large;
            margin-right: 15vw;
        }
    }


}