#grid-options {
    position: absolute;
    top: 6rem;
    left: 2rem;
    z-index: 1;

    &.d-none {
        display: none;
    }

    svg {
        display: block;
        cursor: pointer;
        font-size: x-large;
        margin-bottom: 1rem;

        &#reset-grid-btn {
            color: var(--color-answer-yes);
        }

        &#maybe-reset-btn {
            color: var(--color-answer-maybe-yes);
        }

        &.red {
            color: red;
        }

        &.orange {
            color: #FF8800;
        }

        &.yellow {
            color: yellow;
        }

        &.green {
            color: green;
        }
        
        &.blue {
            color: blue;
        }
    }
}

@include phoneportrait {

    #grid-options {
        display: flex;
        justify-content: space-between;
        top: 48px;
        left: 90px;
        width: 50%;
    }
}

@include landscapephone {

    #grid-options {
        
        svg {
            display: inline-block;

            &:not(:first-of-type) {
                margin-left: 2rem;
            }
        }
    }
}