#grid-options {
    position: absolute;
    top: 6rem;
    left: 2rem;

    svg {
        display: block;
        cursor: pointer;
        font-size: x-large;
        margin-bottom: 1rem;

        &#reset-grid-btn {
            color: var(--color-answer-yes);
        }

        &#maybe-reset-btn {
            color: var(--color-answer-maybe-yes);
        }
    }
}