header {

    div#main-title {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 7vh;

        svg {
            align-self: center;
            font-size: x-large;
        }

        svg#toggle-navbar {
            justify-self: left;
            margin-left: 5vw;

            &.hidden {
                opacity: 0;
            }
        }

        svg#trash-can-btn {
            position: relative;
            top: 2.5rem;
            right: 1.5rem;
        }

        h1 {
            flex-grow: 1;
            text-align: center;
        }

        svg.fullscreen-svg {
            justify-self: right;
            margin-right: 5vw;

            &.d-none {
                display: none;
            }

            &:active {
                color: $color-primary;
            }
        }

        &.in-game {
            margin-bottom: 7vh;
        }
    }
}