* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* Disable text select =)  */
    // user-select: none;
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer */
     -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

body {
    // juste en attendant de refaire le responsive
    // @media screen and (max-width: 450px) {
        // display: flex;
        // flex-direction: column;
        // height: 100vh;
    // }
    // padding: 0 2vw;
    background-color: $color-background;
    color: $color-font;
}

main {
    // padding-top: 7rem;
    // juste en attendant de refaire le responsive
    // @media screen and (max-width: 450px) {
        // flex-grow: 1;
    // }

    div#no-js {
        display: block;
        text-align: center;
        margin-top: 8vh;
        font-size: x-large;

        &.d-none {
            display: none;
        }
    }
    
    div#nav-div {
        overflow: auto;
        padding-top: 7rem;

        &.hidden {
            width: 0;
            height: 0;
        }

        &.d-none {
            display: none;
        }
    }

    div#gameboard-div {

        &.d-none {
            display: none;
        }
    }
}

.d-none {
    display: none;
}