* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0 2vw;
    background-color: $color-background;
    color: $color-font;
}

main {
    div#welcome {
        display: block;
        text-align: center;
        margin-top: 8vh;
        font-size: x-large;

        &.d-none {
            display: none;
        }
    }
}