#messages {

    .message {
        font-size: 1.2rem;
        margin-top: 2rem;

        .msg-header {
            margin-bottom: 0.5rem;

            div {
                display: inline-block;
            }

            .date {
                margin-left: 0.6rem;
            }

            .delete {
                cursor: pointer;
                float: right;
            }
        }

        .content {
            position: relative;
            padding: 0.6rem 0.8rem;
            border: 1px solid $color-font;
            border-radius: 6px;

            .infos {

                div {
                    display: inline-block;
                }

                .type {
                    margin-right: 0.6rem;
                    padding: 0.1rem 0.5rem;
                }

                .type.Bug {
                    background-color: #B30000;
                }

                .type.Idée {
                    background-color: #ff8800;
                }

                .type.Avis {
                    background-color: #0000FF;
                }

                .device {
                    margin-right: 0.6rem;
                }
            }

            .msg-text {
                margin: 1rem 0.5rem;
            }

            .msg-answer-btn {
                position: absolute;
                bottom: 0.1rem;
                right: 0.5rem;
                cursor: pointer;
            }
        }

        .answer {
            width: 90%;
            margin: auto;
            border: 1px solid $color-font;
            border-top: none;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;

            .answer-header {
                padding: 0.5rem 0.6rem 0.5rem 0;
                text-align: right;
            }

            .answer-msg {
                margin: 1rem 1.5rem;
            }
        }
    }
}