nav.user-not-logged,
nav.user-logged {
    display: flex;
    flex-direction: column;
}

div.nav-group,
div.nav-sub-group {
    display: flex;
    flex-direction: column;

    div.nav-header,
    div.nav-sub-header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: 10vh;
        // justify-content: space-between;
        // justify-content: center;
        padding: 12px 20%;
        border: 1px solid $color-nav-header;

        svg {
            font-size: x-large;
        }

        div.nav-title,
        div.nav-sub-title {
            // align-self: flex-end;
            font-size: larger;
        }

        &:hover {
            color: $color-primary;
        }

        &:active {            
            border-color: $color-primary;
        }

        &.selected {
            color: $color-primary;
            border-color: $color-primary;
        }
    }

    
    div.nav-header {
        margin-top: 5vh;
        padding: 12px 17%;
        background-color: $color-nav-header;

        svg {
            margin-right: 15vw;
        }
    }
    div.nav-header.sub-header {
        margin-top: 2.5vh;
        padding: 12px 20% 12px 27%;
        background-color: $color-nav-sub-header;

        svg {
            margin-right: 12vw;
        }
    }


    div.nav-body,
    div.nav-sub-body {
        display: block;

        &.d-none {
            display: none;
        }
    }
}

div.nav-group {
    background-color: $color-nav-header;
}
div.nav-sub-group {
    background-color: $color-nav-sub-header;
}


div.nav-body:not(.has-sub-menu),
div.nav-body.sub-body {
    padding: 2.5rem 2rem;
    border: 1px solid $color-font;
    border-top: none;
    
    form {

        div.form-group {
            width: 70vw;
            margin: 0 auto 1.5rem;

            &:nth-last-child(2) {
                margin-bottom: 2.5rem;
            }

            label.form-label {
                display: block;
                margin-bottom: 10px;
            }

            input.form-input,
            select.form-select,
            textarea {
                width: 100%;
                height: 2.5rem;
                font-size: 1rem;
                padding: 0 20px;
                box-sizing: border-box;
                border: 1px solid $color-font;
                border-radius: 5px;
                background-color: $color-nav-header;
                color: $color-font;

                &:focus {
                    border-color: $color-primary;
                    outline: none;
                }
            }

            textarea {
                height: 7.5rem;
            }
        }

        button {
            width: 50%;
            height: 3rem;
            margin: 0 auto;
            display: block;
            background-color: $color-nav-header;
            color: $color-primary;
            font-size: 1.5rem;
            font-weight: 700;
            border: 1px solid $color-font;
            border-radius: 5px;
        
            &:hover {
                border-color: $color-primary;
            }
        
            &:active {
                background-color: $color-primary;
                color: $color-font;
                border-color: $color-font;
            }
        
            &:focus {            
                outline: none;
            }

            &.invalid {
                color: $color-nav-content;
            }
        }
    }

    div.button {
        width: 50%;
        height: 3rem;
        margin: 1.5rem auto 0;
        display: block;
        text-align: center;
        background-color: $color-nav-header;
        color: $color-primary;
        line-height: 3rem;
        font-size: 1.5rem;
        font-weight: 700;
        border: 1px solid $color-font;
        border-radius: 5px;
    
        &:hover {
            border-color: $color-primary;
        }
    
        &:active {
            background-color: $color-primary;
            color: $color-font;
            border-color: $color-font;
        }
    
        &:focus {            
            outline: none;
        }
    }
}

div.nav-body:not(.has-sub-menu) {
    background-color: $color-nav-sub-header;
}
div.nav-body.sub-body {    
    background-color: $color-nav-content;
}


input:invalid+span:after {
content: '✖';
padding-left: 5px;
}

input:valid+span:after {
content: '✓';
padding-left: 5px;
}