header {
  margin-top: 7vh;
}

header div.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header div.main-title h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

header div.main-title svg.fullscreen-svg {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 5vw;
  font-size: x-large;
}

header div.main-title svg.fullscreen-svg.d-none {
  display: none;
}

header div.main-title svg.fullscreen-svg:active {
  color: #FF8800;
}

nav.user-not-logged,
nav.user-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.nav-group,
div.nav-sub-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.nav-group div.nav-header,
div.nav-group div.nav-sub-header,
div.nav-sub-group div.nav-header,
div.nav-sub-group div.nav-sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  padding: 12px 20%;
  border: 1px solid #0F101B;
}

div.nav-group div.nav-header svg,
div.nav-group div.nav-sub-header svg,
div.nav-sub-group div.nav-header svg,
div.nav-sub-group div.nav-sub-header svg {
  font-size: x-large;
}

div.nav-group div.nav-header div.nav-title,
div.nav-group div.nav-header div.nav-sub-title,
div.nav-group div.nav-sub-header div.nav-title,
div.nav-group div.nav-sub-header div.nav-sub-title,
div.nav-sub-group div.nav-header div.nav-title,
div.nav-sub-group div.nav-header div.nav-sub-title,
div.nav-sub-group div.nav-sub-header div.nav-title,
div.nav-sub-group div.nav-sub-header div.nav-sub-title {
  font-size: larger;
}

div.nav-group div.nav-header:hover,
div.nav-group div.nav-sub-header:hover,
div.nav-sub-group div.nav-header:hover,
div.nav-sub-group div.nav-sub-header:hover {
  color: #FF8800;
}

div.nav-group div.nav-header:active,
div.nav-group div.nav-sub-header:active,
div.nav-sub-group div.nav-header:active,
div.nav-sub-group div.nav-sub-header:active {
  border-color: #FF8800;
}

div.nav-group div.nav-header.selected,
div.nav-group div.nav-sub-header.selected,
div.nav-sub-group div.nav-header.selected,
div.nav-sub-group div.nav-sub-header.selected {
  color: #FF8800;
  border-color: #FF8800;
}

div.nav-group div.nav-header,
div.nav-sub-group div.nav-header {
  margin-top: 5vh;
  padding: 12px 17%;
  background-color: #0F101B;
}

div.nav-group div.nav-header svg,
div.nav-sub-group div.nav-header svg {
  margin-right: 15vw;
}

div.nav-group div.nav-header.sub-header,
div.nav-sub-group div.nav-header.sub-header {
  margin-top: 2.5vh;
  padding: 12px 20% 12px 27%;
  background-color: #1f202b;
}

div.nav-group div.nav-header.sub-header svg,
div.nav-sub-group div.nav-header.sub-header svg {
  margin-right: 12vw;
}

div.nav-group div.nav-body,
div.nav-group div.nav-sub-body,
div.nav-sub-group div.nav-body,
div.nav-sub-group div.nav-sub-body {
  display: block;
}

div.nav-group div.nav-body.d-none,
div.nav-group div.nav-sub-body.d-none,
div.nav-sub-group div.nav-body.d-none,
div.nav-sub-group div.nav-sub-body.d-none {
  display: none;
}

div.nav-group {
  background-color: #0F101B;
}

div.nav-sub-group {
  background-color: #1f202b;
}

div.nav-body:not(.has-sub-menu),
div.nav-body.sub-body {
  padding: 2.5rem 2rem;
  border: 1px solid #FAFAFA;
  border-top: none;
}

div.nav-body:not(.has-sub-menu) form div.form-group,
div.nav-body.sub-body form div.form-group {
  width: 70vw;
  margin: 0 auto 1.5rem;
}

div.nav-body:not(.has-sub-menu) form div.form-group:nth-last-child(2),
div.nav-body.sub-body form div.form-group:nth-last-child(2) {
  margin-bottom: 2.5rem;
}

div.nav-body:not(.has-sub-menu) form div.form-group label.form-label,
div.nav-body.sub-body form div.form-group label.form-label {
  display: block;
  margin-bottom: 10px;
}

div.nav-body:not(.has-sub-menu) form div.form-group input.form-input,
div.nav-body.sub-body form div.form-group input.form-input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
  background-color: #0F101B;
  color: #FAFAFA;
}

div.nav-body:not(.has-sub-menu) form div.form-group input.form-input:focus,
div.nav-body.sub-body form div.form-group input.form-input:focus {
  border-color: #FF8800;
  outline: none;
}

div.nav-body:not(.has-sub-menu) form button,
div.nav-body.sub-body form button {
  width: 50%;
  height: 3rem;
  margin: 0 auto;
  display: block;
  background-color: #0F101B;
  color: #FF8800;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
}

div.nav-body:not(.has-sub-menu) form button:hover,
div.nav-body.sub-body form button:hover {
  border-color: #FF8800;
}

div.nav-body:not(.has-sub-menu) form button:active,
div.nav-body.sub-body form button:active {
  background-color: #FF8800;
  color: #FAFAFA;
  border-color: #FAFAFA;
}

div.nav-body:not(.has-sub-menu) form button:focus,
div.nav-body.sub-body form button:focus {
  outline: none;
}

div.nav-body:not(.has-sub-menu) div.button,
div.nav-body.sub-body div.button {
  width: 50%;
  height: 3rem;
  margin: 1.5rem auto 0;
  display: block;
  text-align: center;
  background-color: #0F101B;
  color: #FF8800;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
}

div.nav-body:not(.has-sub-menu) div.button:hover,
div.nav-body.sub-body div.button:hover {
  border-color: #FF8800;
}

div.nav-body:not(.has-sub-menu) div.button:active,
div.nav-body.sub-body div.button:active {
  background-color: #FF8800;
  color: #FAFAFA;
  border-color: #FAFAFA;
}

div.nav-body:not(.has-sub-menu) div.button:focus,
div.nav-body.sub-body div.button:focus {
  outline: none;
}

div.nav-body:not(.has-sub-menu) {
  background-color: #1f202b;
}

div.nav-body.sub-body {
  background-color: #2f303b;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 2vw;
  background-color: #0F101B;
  color: #FAFAFA;
}

main div#welcome {
  display: block;
  text-align: center;
  margin-top: 8vh;
  font-size: x-large;
}

main div#welcome.d-none {
  display: none;
}

main div#nav-div.d-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */