header div#main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 7vh;
}

header div#main-title svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: x-large;
}

header div#main-title svg#toggle-navbar {
  -ms-grid-column-align: left;
      justify-self: left;
  margin-left: 5vw;
}

header div#main-title svg#toggle-navbar.hidden {
  opacity: 0;
}

header div#main-title h1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

header div#main-title svg.fullscreen-svg {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 5vw;
}

header div#main-title svg.fullscreen-svg.d-none {
  display: none;
}

header div#main-title svg.fullscreen-svg:active {
  color: #FF8800;
}

header div#main-title.in-game {
  margin-bottom: 7vh;
}

nav.user-not-logged,
nav.user-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.nav-group,
div.nav-sub-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.nav-group div.nav-header,
div.nav-group div.nav-sub-header,
div.nav-sub-group div.nav-header,
div.nav-sub-group div.nav-sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  padding: 12px 20%;
  border: 1px solid #0F101B;
}

div.nav-group div.nav-header svg,
div.nav-group div.nav-sub-header svg,
div.nav-sub-group div.nav-header svg,
div.nav-sub-group div.nav-sub-header svg {
  font-size: x-large;
}

div.nav-group div.nav-header div.nav-title,
div.nav-group div.nav-header div.nav-sub-title,
div.nav-group div.nav-sub-header div.nav-title,
div.nav-group div.nav-sub-header div.nav-sub-title,
div.nav-sub-group div.nav-header div.nav-title,
div.nav-sub-group div.nav-header div.nav-sub-title,
div.nav-sub-group div.nav-sub-header div.nav-title,
div.nav-sub-group div.nav-sub-header div.nav-sub-title {
  font-size: larger;
}

div.nav-group div.nav-header:hover,
div.nav-group div.nav-sub-header:hover,
div.nav-sub-group div.nav-header:hover,
div.nav-sub-group div.nav-sub-header:hover {
  color: #FF8800;
}

div.nav-group div.nav-header:active,
div.nav-group div.nav-sub-header:active,
div.nav-sub-group div.nav-header:active,
div.nav-sub-group div.nav-sub-header:active {
  border-color: #FF8800;
}

div.nav-group div.nav-header.selected,
div.nav-group div.nav-sub-header.selected,
div.nav-sub-group div.nav-header.selected,
div.nav-sub-group div.nav-sub-header.selected {
  color: #FF8800;
  border-color: #FF8800;
}

div.nav-group div.nav-header,
div.nav-sub-group div.nav-header {
  margin-top: 5vh;
  padding: 12px 17%;
  background-color: #0F101B;
}

div.nav-group div.nav-header svg,
div.nav-sub-group div.nav-header svg {
  margin-right: 15vw;
}

div.nav-group div.nav-header.sub-header,
div.nav-sub-group div.nav-header.sub-header {
  margin-top: 2.5vh;
  padding: 12px 20% 12px 27%;
  background-color: #1f202b;
}

div.nav-group div.nav-header.sub-header svg,
div.nav-sub-group div.nav-header.sub-header svg {
  margin-right: 12vw;
}

div.nav-group div.nav-body,
div.nav-group div.nav-sub-body,
div.nav-sub-group div.nav-body,
div.nav-sub-group div.nav-sub-body {
  display: block;
}

div.nav-group div.nav-body.d-none,
div.nav-group div.nav-sub-body.d-none,
div.nav-sub-group div.nav-body.d-none,
div.nav-sub-group div.nav-sub-body.d-none {
  display: none;
}

div.nav-group {
  background-color: #0F101B;
}

div.nav-sub-group {
  background-color: #1f202b;
}

div.nav-body:not(.has-sub-menu),
div.nav-body.sub-body {
  padding: 2.5rem 2rem;
  border: 1px solid #FAFAFA;
  border-top: none;
}

div.nav-body:not(.has-sub-menu) form div.form-group,
div.nav-body.sub-body form div.form-group {
  width: 70vw;
  margin: 0 auto 1.5rem;
}

div.nav-body:not(.has-sub-menu) form div.form-group:nth-last-child(2),
div.nav-body.sub-body form div.form-group:nth-last-child(2) {
  margin-bottom: 2.5rem;
}

div.nav-body:not(.has-sub-menu) form div.form-group label.form-label,
div.nav-body.sub-body form div.form-group label.form-label {
  display: block;
  margin-bottom: 10px;
}

div.nav-body:not(.has-sub-menu) form div.form-group input.form-input,
div.nav-body.sub-body form div.form-group input.form-input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
  background-color: #0F101B;
  color: #FAFAFA;
}

div.nav-body:not(.has-sub-menu) form div.form-group input.form-input:focus,
div.nav-body.sub-body form div.form-group input.form-input:focus {
  border-color: #FF8800;
  outline: none;
}

div.nav-body:not(.has-sub-menu) form button,
div.nav-body.sub-body form button {
  width: 50%;
  height: 3rem;
  margin: 0 auto;
  display: block;
  background-color: #0F101B;
  color: #FF8800;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
}

div.nav-body:not(.has-sub-menu) form button:hover,
div.nav-body.sub-body form button:hover {
  border-color: #FF8800;
}

div.nav-body:not(.has-sub-menu) form button:active,
div.nav-body.sub-body form button:active {
  background-color: #FF8800;
  color: #FAFAFA;
  border-color: #FAFAFA;
}

div.nav-body:not(.has-sub-menu) form button:focus,
div.nav-body.sub-body form button:focus {
  outline: none;
}

div.nav-body:not(.has-sub-menu) div.button,
div.nav-body.sub-body div.button {
  width: 50%;
  height: 3rem;
  margin: 1.5rem auto 0;
  display: block;
  text-align: center;
  background-color: #0F101B;
  color: #FF8800;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
}

div.nav-body:not(.has-sub-menu) div.button:hover,
div.nav-body.sub-body div.button:hover {
  border-color: #FF8800;
}

div.nav-body:not(.has-sub-menu) div.button:active,
div.nav-body.sub-body div.button:active {
  background-color: #FF8800;
  color: #FAFAFA;
  border-color: #FAFAFA;
}

div.nav-body:not(.has-sub-menu) div.button:focus,
div.nav-body.sub-body div.button:focus {
  outline: none;
}

div.nav-body:not(.has-sub-menu) {
  background-color: #1f202b;
}

div.nav-body.sub-body {
  background-color: #2f303b;
}

/* variables */
:root {
  --color-head-bg: #0F101B;
  --color-head-bg-enlighted: #333333;
  --color-head-font: #dddddd;
  --color-answer-origin: #dddddd;
  --color-answer-yes: #FF8800;
  --color-answer-maybe-yes: #ffcc00;
  --color-answer-maybe-no: rgb(119, 121, 153);
  --color-answer-no: #333333;
  --nb-rows: 4;
  --nb-cols: 4;
  --max-row-helpers: 2;
  --max-col-helpers: 2;
  --gameboard-width: 90vw;
  --head-size: 15vw;
  --row-head-font-size: 32px;
  --col-head-font-size: 32px;
}

/* Scss functions */
/* Let's go */
#gameboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: var(--gameboard-width);
  height: var(--gameboard-width);
}

#gameboard.hidden {
  display: none;
}

#gameboard .head-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

#gameboard .head-div .col-head-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(var(--gameboard-width) / (var(--nb-cols) + ((4/5) *  var(--max-row-helpers))));
  height: 100%;
  background-color: var(--color-head-bg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#gameboard .head-div .col-head-div.enlighted {
  background-color: var(--color-head-bg-enlighted);
}

#gameboard .head-div .col-head-div:nth-child(5n+1) {
  border-right-width: 3px;
}

#gameboard .head-div .col-head-div:nth-last-child(1) {
  border-right-width: 1px;
  border-right-color: var(--color-head-font);
}

#gameboard .head-div .col-head-div .helper {
  height: calc((4/5) * (var(--gameboard-width) / (var(--nb-rows) + (4/5) * var(--max-col-helpers))));
  text-align: center;
  font-size: calc((3/5) * (var(--gameboard-width) / (var(--nb-cols) + (4/5) * var(--max-row-helpers))));
  color: var(--color-head-font);
}

#gameboard .row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: calc(var(--gameboard-width) / (var(--nb-rows) + ((4/5) *  var(--max-col-helpers)) ));
}

#gameboard .row-div .row-head-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--color-head-bg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#gameboard .row-div .row-head-div.enlighted {
  background-color: var(--color-head-bg-enlighted);
}

#gameboard .row-div .row-head-div .helper {
  width: calc((4/5) * (var(--gameboard-width) / (var(--nb-cols) + (4/5) * var(--max-row-helpers))));
  text-align: center;
  font-size: calc((3/5) * (var(--gameboard-width) / (var(--nb-cols) + (4/5) * var(--max-row-helpers))));
  color: var(--color-head-font);
}

#gameboard .row-div .tile {
  cursor: pointer;
  width: calc(var(--gameboard-width) / (var(--nb-cols) + ((4/5) *  var(--max-row-helpers))));
  height: 100%;
  background-color: var(--color-answer-origin);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #222222;
}

#gameboard .row-div .tile:nth-child(5n+1) {
  border-right-width: 3px;
}

#gameboard .row-div .tile[data-solution="yes"] {
  background-color: var(--color-answer-yes);
}

#gameboard .row-div .tile[data-solution="maybe-yes"] {
  background-color: var(--color-answer-maybe-yes);
}

#gameboard .row-div .tile[data-solution="maybe-no"] {
  background-color: var(--color-answer-maybe-no);
}

#gameboard .row-div .tile[data-solution="no"] {
  background-color: var(--color-answer-no);
}

#gameboard .row-div .tile.selected {
  -webkit-box-shadow: inset 0 0 6px 6px white;
          box-shadow: inset 0 0 6px 6px white;
}

#game-cross {
  display: inline-block;
  width: 150px;
  position: relative;
  -webkit-transition: width 0.7s ease-in-out;
  transition: width 0.7s ease-in-out;
}

#game-cross.d-none {
  display: none;
}

#game-cross.not-in-use {
  width: 100px;
}

#game-cross.not-in-use .game-cross-btn {
  fill: #323232;
}

#game-cross .game-cross-btn {
  position: absolute;
  fill: #FF8800;
  -webkit-transition: fill 0.7s ease-in-out;
  transition: fill 0.7s ease-in-out;
}

#game-cross .game-cross-btn:hover {
  fill: var(--color-answer-maybe-yes);
}

#game-answer-buttons {
  float: right;
}

#game-answer-buttons.d-none {
  display: none;
}

#game-answer-buttons .answer-btns-line {
  margin-top: 12px;
}

#game-answer-buttons .answer-btns-line .answer-btn {
  display: inline-block;
  cursor: pointer;
  width: 46px;
  height: 46px;
  margin-right: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#game-answer-buttons .answer-btns-line .answer-btn.current-choice {
  -webkit-box-shadow: inset 0 0  5px 5px white;
          box-shadow: inset 0 0  5px 5px white;
}

#game-answer-buttons .answer-btns-line .answer-btn::before {
  position: relative;
  font-size: 10px;
}

#game-answer-buttons .answer-btns-line #answer-maybe-no {
  background-color: var(--color-answer-maybe-no);
}

#game-answer-buttons .answer-btns-line #answer-maybe-no::before {
  content: 'Maybe no';
  top: -17px;
  left: 3px;
}

#game-answer-buttons .answer-btns-line #answer-maybe-yes {
  background-color: var(--color-answer-maybe-yes);
}

#game-answer-buttons .answer-btns-line #answer-maybe-yes::before {
  content: 'Maybe yes';
  top: -17px;
  left: 3px;
}

#game-answer-buttons .answer-btns-line #answer-no {
  background-color: var(--color-answer-no);
}

#game-answer-buttons .answer-btns-line #answer-no::before {
  content: 'No';
  top: -17px;
  left: 17px;
}

#game-answer-buttons .answer-btns-line #answer-yes {
  background-color: var(--color-answer-yes);
}

#game-answer-buttons .answer-btns-line #answer-yes::before {
  content: 'Yes';
  top: -17px;
  left: 17px;
}

#victory {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 32px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #0F101B;
}

#victory.d-none {
  display: none;
}

#victory svg {
  position: absolute;
  font-size: x-large;
  right: 32px;
}

#victory h2 {
  margin-top: 12px;
  margin-bottom: 48px;
}

#victory p {
  margin-bottom: 32px;
}

#victory p.d-none {
  display: none;
}

#victory button {
  width: 16rem;
  margin: 1.5rem auto 0;
  padding: 12px 0;
  display: block;
  text-align: center;
  background-color: #0F101B;
  color: #FF8800;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid #FAFAFA;
  border-radius: 5px;
}

#victory button:hover {
  border-color: #FF8800;
}

#victory button:active {
  background-color: #FF8800;
  color: #FAFAFA;
  border-color: #FAFAFA;
}

#victory button:focus {
  outline: none;
}

#victory button.d-none {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Disable text select =)  */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

body {
  padding: 0 2vw;
  background-color: #0F101B;
  color: #FAFAFA;
}

main div#welcome {
  display: block;
  text-align: center;
  margin-top: 8vh;
  font-size: x-large;
}

main div#welcome.d-none {
  display: none;
}

main div#nav-div {
  overflow: auto;
}

main div#nav-div.hidden {
  width: 0;
  height: 0;
}

main div#nav-div.d-none {
  display: none;
}

main div#main-content.d-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */