nav.user-not-logged {
    display: flex;
    flex-direction: column;

    div.nav-group {
        display: flex;
        flex-direction: column;

        div.nav-header {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            width: 100%;
            height: 10vh;
            // justify-content: space-between;
            // justify-content: center;
            margin-top: 5vh;
            padding: 12px 20%;
            border: 1px solid white;

            svg {
                margin-right: 15vw;
                font-size: x-large;
            }

            div.nav-title {
                // align-self: flex-end;
                font-size: larger;
            }

            &:hover {
                color: #FF8800;
                border-color: #FF8800;
            }
        }

        div.nav-body {
            display: none;
        }
    }
}