#victory, #failed {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 32px;
    text-align: center;
    font-size: 1.5rem;
    background-color: $color-background;

    &.d-none {
        display: none;
    }

    svg {        
        position: absolute;
        font-size: x-large;
        right: 32px;
    }

    h2 {
        margin-top: 12px;
        margin-bottom: 48px;
    }

    p {
        margin-bottom: 32px;

        &.d-none {
            display: none;
        }
    }

    button {
        width: 16rem;
        margin: 1.5rem auto 0;
        padding: 12px 0;
        display: block;
        text-align: center;
        background-color: $color-nav-header;
        color: $color-primary;
        line-height: 3rem;
        font-size: 1.5rem;
        font-weight: 700;
        border: 1px solid $color-font;
        border-radius: 5px;
    
        &:hover {
            border-color: $color-primary;
        }
    
        &:active {
            background-color: $color-primary;
            color: $color-font;
            border-color: $color-font;
        }
    
        &:focus {            
            outline: none;
        }

        &.d-none {
            display: none;
        }
    }
}